
// primary colors
$Orange: hsl(26, 100%, 55%);
$Pale-orange: hsl(25, 100%, 94%);

//neutral colors
$Very-dark-blue: hsl(220, 13%, 13%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayish-blue: hsl(220, 14%, 75%);
$Light-grayish-blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);

// font weights
$font-weights: (
    "regular": 400,
    "bold": 700
);

// font family
$font-Kumbh: 'Kumbh Sans', sans-serif;


// media queries
$sm: 550px;
$md: 760px;


// functions
@function weight($weight){
    @return map-get($map: $font-weights, $key:$weight);
}

// mixins
@mixin cart-btns($justify,$bg){
    display: flex;
    justify-content: $justify;
    padding: 1rem;
    border-radius: .6rem;
    background-color: $bg;
    font-weight: weight(bold);
}

//extensions
%flex-align-center{
    display: flex;
    align-items: center;
}



*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    width: 100vw;
    min-width: 375px;
    font-family: $font-Kumbh;
    position: relative;
}
