// primary colors
$Orange: hsl(26, 100%, 55%);
$Pale-orange: hsl(25, 100%, 94%);

//neutral colors
$Very-dark-blue: hsl(220, 13%, 13%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayish-blue: hsl(220, 14%, 75%);
$Light-grayish-blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);

// font weights
$font-weights: (
    "regular": 400,
    "bold": 700
);

// font family
$font-Kumbh: 'Kumbh Sans', sans-serif;


// media queries
$mobile: 780px;

// functions
@function weight($weight){
    @return map-get($map: $font-weights, $key:$weight)
}
