.nav{
    padding: 2rem 0;
    display: flex;
    border-bottom: 1px solid $Grayish-blue;
    justify-content: space-between;
    align-items: center;

    #{&}__logo-hamburber{
        display: flex;
        align-items: center;
        gap: 2rem;

        .nav-links{
            display: flex;
            gap: 1rem;
    
            li{
              list-style-type: none;
            }
        }
    }
   

    #{&}__cart-avatar{
        .avatar{
            max-width: 3rem;
        }
    }
}
