%flex-align-center{
    display: flex;
    align-items: center;
}

.nav{
    @extend %flex-align-center;
    justify-content: space-between;
    padding: 2rem 0;
    border-bottom: 1px solid $Grayish-blue;

    #{&}__logo-hamburber{
        @extend %flex-align-center;
        gap: 2rem;

        .nav-links{
            display: flex;
            gap: 1rem;
    
            li{
              list-style-type: none;
              a{
                text-decoration: none;
                color: $Dark-grayish-blue;
              }
            }
        }
    }
   

    #{&}__cart-avatar{
        @extend %flex-align-center;
        gap: 1.8rem;
        
        .avatar{
            max-width: 3rem;
        }
    }
}
