// google font import
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

// scss files imports
@import "./config";
@import "./queries";
@import "./utility";
@import "./nav";

%carousel-btn{
    background-color: $White;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}

.main{
    #{&}__mobile{
        height: 55vh;
        width: 100%;
        position: relative;

    &__image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .prev__btn,.next__btn{
        @extend %carousel-btn;
    }

    .prev__btn{
        left: 2%;
    }

    .next__btn{
        right: 2%;
    }

    @include md{
        display: none;
    }


    }


}